
body {
    --primary-color: #2d2d2d;
    --secondary-color: #0b4462;
    --text-color: #fafafa;
    --light-background: #d1e8e4;
    --background: #212121;
    --contrast-color: #f28f3b;
    --contrat2-color: #733b5f;

    padding-right: 10rem;
    padding-left: 10rem;
    margin: 2rem auto;
    background: var(--background);
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
}

@media (max-width: 1400px) {
    body {
        padding-right: 2rem;
        padding-left: 2rem;
    }
}